<div class="ez-fl ez-negmr ez-75">
  
  <div class="ez-box">
    <div style="background: url(/images/analyze.gif) top center no-repeat; width: 253px; height: 275px; clear: none; float:left;">
      &nbsp;
    </div>
    <div style="background: url(/images/clock.gif) bottom right no-repeat; width: 253px; height: 275px; clear:none; float:left; ">
      &nbsp;
    </div>
  </div>
  
</div>

<fieldset>
  <div class="ez-box">
    
    <h1>Log In</h1>
    
    <% form_tag session_path do -%>
    <p><%= label_tag 'login' %><br />
      <%= text_field_tag 'login', @login %></p>
    
    <p><%= label_tag 'password' %><br/>
      <%= password_field_tag 'password', nil %></p>
    
    <!-- Uncomment this if you want this functionality
	 <p><%= label_tag 'remember_me', 'Remember me' %>
	   <%= check_box_tag 'remember_me', '1', @remember_me %></p>
     -->

    <p><%= submit_tag 'Log in' %></p>
    <% end -%>
  </div>
</fieldset>
